/* Your Website Styles */
body {
	background: #eee;
}


div {
	margin-top: -60px;	x 
}

h1,h2 {
	font-family: 'Playfair Display', serif;
	text-transform: uppercase; 
	border-bottom-style: solid;
	border-bottom-width: 1px;

}

img.profile {
	width: 250px;
}

p, li {
	font-family: 'Lora', serif;
	list-style-type: none; 
	}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}